{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}